@if (form()) {
  <gnro-form-field
    [formGroup]="form()"
    [style.display]="hidden ? 'none' : 'inherit'"
    [gnroLabelWidth]="fieldConfig().labelWidth"
    [gnroFieldWidth]="fieldConfig().fieldWidth"
    [gnroFormFieldControl]="field"
    [gnroLineHeight]="fieldConfig().lineHeight"
    [showFieldEditIndicator]="showFieldEditIndicator()"
    [editable]="editable$()"
  >
    @if (fieldConfig().fieldLabel !== undefined) {
      <gnro-label>{{ fieldConfig().fieldLabel! | translate }}</gnro-label>
    }
    <input
      gnroInput
      type="password"
      autocomplete="off"
      [formControlName]="fieldConfig().fieldName!"
      (keyup)="onChange()"
      [required]="required"
      placeholder="{{ fieldConfig().placeholder! | translate }}"
    />
    @if (fieldConfig().clearValue && hasValue) {
      <gnro-icon icon="remove" gnroSuffix (click)="clearValue()"></gnro-icon>
    }
  </gnro-form-field>
}
