@if (hasHeader(fieldConfig())) {
  <div class="gnro-select-field-sticky-header">
    @if (fieldConfig().multiSelection && fieldConfig().checkAll) {
      <gnro-option (click)="checkAll(selectOptions())">
        <gnro-checkbox [checked]="isAllChecked">{{ "GNRO.UI.ACTIONS.CHECK_ALL" | translate }}</gnro-checkbox>
      </gnro-option>
    }
    @if (fieldConfig().multiSelection && fieldConfig().uncheckAll) {
      <gnro-option (click)="checkAll([])">
        <gnro-checkbox [checked]="!hasValue">{{ "GNRO.UI.ACTIONS.UNCHECK_ALL" | translate }}</gnro-checkbox>
      </gnro-option>
    }
    @if (fieldConfig().isEmpty) {
      <gnro-option #refIsEmpty [value]="isEmptyValue" (click)="headerOptionClick(refIsEmpty)">
        <gnro-checkbox [checked]="refIsEmpty.selected">
          {{ "GNRO.UI.ACTIONS.IS_EMPTY" | translate }}
        </gnro-checkbox>
      </gnro-option>
    }
    @if (fieldConfig().notEmpty) {
      <gnro-option #refIsNotEmpty [value]="notEmptyValue" (click)="headerOptionClick(refIsNotEmpty)">
        <gnro-checkbox [checked]="refIsNotEmpty.selected">
          {{ "GNRO.UI.ACTIONS.NOT_EMPTY" | translate }}
        </gnro-checkbox>
      </gnro-option>
    }
  </div>
}
@if (
  selectOptions() | selectFilter: selectFilter() : fieldConfig().optionLabel : fieldSetting().singleListOption;
  as result
) {
  <cdk-virtual-scroll-viewport
    class="gnro-select-virtual-scroll"
    [itemSize]="28"
    (scrolledIndexChange)="onScrolledIndexChange($event)"
  >
    <gnro-option
      class="gnro-select-field-option"
      *cdkVirtualFor="let option of result"
      [value]="option"
      #ref
      (click)="clickOption(ref)"
    >
      @if (fieldConfig().multiSelection) {
        <gnro-checkbox [checked]="ref.selected">
          <gnro-filter-highlight [value]="getOptionLabel(option)" [filterValue]="filterValue"> </gnro-filter-highlight>
        </gnro-checkbox>
      } @else if (fieldSetting().singleListOption && fieldConfig().selectOnly) {
        <ng-container>{{ option }}</ng-container>
      } @else {
        <gnro-filter-highlight [value]="getOptionLabel(option)" [filterValue]="filterValue"> </gnro-filter-highlight>
      }
    </gnro-option>
    @if (!result.length) {
      <gnro-option class="no-result">{{ "GNRO.UI.LIST.NO_RESULT" | translate }}</gnro-option>
    }
  </cdk-virtual-scroll-viewport>
}
