<div>
  Local field config and local list options (non-object)
  <gnro-select-field
    [fieldConfig]="singleSelectionList"
    [value]="singleListState"
    [options]="listStates"
  ></gnro-select-field>

  <gnro-select-field
    [fieldConfig]="multiSelectionList"
    [value]="multiListStates"
    [options]="listStates"
  ></gnro-select-field>

  <gnro-select-field
    [fieldConfig]="multiSelectionDisplay"
    [value]="multiListStatesDisplay"
    [options]="listStates"
  ></gnro-select-field>
</div>
