:host {
  display: flex;
  width: 100%;

  align-items: center;

  gnro-text-field {
    width: 100%;
    ::ng-deep {
      .gnro-form-field {
        padding-bottom: 0px;
      }
      .gnro-form-field-container {
        border-bottom: none;
      }
      input {
        width: 100%;
      }
    }
  }
}
