@use "../core/functions" as gnro;

$theme: (
  --app-background-color: hsl(0, 0%, 0%),
  app-border-basic-color: #4b4f54,
  app-text-basic-color: #adadad,
  color-basic-default: #4b4f54,
  color-basic-transparent-default: #f6f1ed,

  //header and footer
  gnro-header-background-color: #404040,

  //window
  gnro-dragable-window-header: #1f1f1f,

  //grid
  gnro-grid-header-background-color: #242424,
  gnro-grid-row-odd-background-color: #1f1f1f,
  gnro-grid-row-even-background-color: #282828,
  gnro-grid-row-hover-background-color: #353535,
  gnro-grid-toolbar-background-color: #404040,

  //button
  gnro-button-default-color: #4b4f54,

  //menu
  gnro-menu-item-hover-background-color: #2c2c2e,
  gnro-menu-item-selected-background-color: #3a3a3c,

  //accordion
  gnro-accordion-item-background-color: #404040,
  gnro-accordion-item-hover-background-color: #2c2c2e,

  //option
  gnro-option-item-background-color: #191919,
  gnro-option-item-hover-background-color: #353535,
  gnro-option-item-selected-background-color: #3a3a3c,

  //form field
  gnro-form-field-input-background-color: #242424,
  gnro-form-field-focus-background-color: #191919,
  gnro-form-field-focus-border-color: green,

  //checkbox
  checkbox-border-color: #4b4f54,
  checkbox-hover-border-color: #adadad,
  checkbox-disabled-border-color: #353535,
  checkbox-background-color: #353535,
  checkbox-disabled-background-color: #191919,
  checkbox-checkmark-color: transparent,
  checkbox-checked-checkmark-color: #f18a20,
  checkbox-disabled-checkmark-color: #353535,
  //checkmark
  checkmark-color: #797979,
  checkmark-checked-color: #f18a20,
  checkmark-background-color: transparent,
  checkmark-checked-background-color: transparent,

  calendar-panel-background-color: #353535,
  calendar-date-range-dates-color: #1f1f1f,
  calendar-date-range-dates-background-color: #f6f1ed,
  calendar-date-selected-background-color: #f8c48f,
  calendar-today-background-color: orangered,
  calendar-date-hover-background-color: lightgreen,

  radio-background-color: #353535,
  radio-border-color: #adadad,
  radio-checked-background-color: #f6f1ed,
  radio-checked-border-color: #d0c6bc,
  radio-inner-circle-color: #f18a20,
  radio-text-color: #adadad,

  spinner-filled-color: #f18a20,
  spinner-empty-color: transparent,
);

$gnro-themes: gnro.gnro-register-theme($theme, dark);
