<gnro-window [windowConfig]="windowConfig">
  <gnro-layout [resizeable]="false">
    <gnro-layout-horizontal [resizeable]="false">
      <gnro-select-field
        [fieldConfig]="selectionConfig"
        [value]="exportFormat"
        [options]="exportOptions"
        [showFieldEditIndicator]="false"
        (valueChange)="selectExportFormat($event)"
      ></gnro-select-field>
    </gnro-layout-horizontal>

    <gnro-layout-footer>
      <button gnro-button (click)="export()">{{ "GNRO.UI.ACTIONS.EXPORT" | translate }}</button>
      <button gnro-button (click)="cancel()">{{ "GNRO.UI.ACTIONS.CANCEL" | translate }}</button>
    </gnro-layout-footer>
  </gnro-layout>
</gnro-window>
