html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  border: 0;
}

body {
  margin: 0px;
}

gnro-layout,
.cdk-overlay-container {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.25rem;

  .cdk-overlay-connected-position-bounding-box {
    height: unset !important;
  }

  .cdk-global-overlay-wrapper {
    display: block;
    height: unset;
    width: unset;

    .cdk-overlay-pane {
      display: block;
      height: auto;
      position: absolute !important;
      flex: 1;
      //min-height: 320px; // select drop down height 320px
    }
  }
}

.cdk-visually-hidden {
  display: none;
}

fieldset {
  padding: 0;
  margin: 0;
}

legend {
  padding: 0;
}

mark {
  background-color: #e1e61e;
}

//fix fireforx a href style
a:link {
  color: unset;
  text-decoration: none;
}
a:visited {
  color: unset;
}
a:hover {
  color: unset;
  text-decoration: unset;
}
a:active {
  color: unset;
}
