<div class="right-panel">
  <div>
    use default field config with Local field config and local object options

    <gnro-select-field
      [fieldConfig]="defaultSelection1"
      [options]="listDefaultStates"
      [value]="defaultStateValue"
    ></gnro-select-field>
    <gnro-select-field
      [fieldConfig]="defaultSelection2"
      [options]="listStates"
      [value]="singleListState2"
    ></gnro-select-field>
  </div>
  <div><br /></div>
  <div>
    Local field config and local object options
    <gnro-select-field
      [fieldConfig]="singleSelection"
      [value]="singleObjectState"
      [options]="states"
    ></gnro-select-field>
    <gnro-select-field
      [fieldConfig]="multiSelection"
      [value]="multiObjectStates"
      [options]="states"
    ></gnro-select-field>
    <gnro-select-field
      [fieldConfig]="singleAutocomplete"
      [value]="singleObjectState"
      [options]="states"
    ></gnro-select-field>
    <gnro-select-field
      [fieldConfig]="multiAutocomplete"
      [value]="multiObjectStates2"
      [options]="states2"
    ></gnro-select-field>
  </div>

  <div><br /></div>

  <div>
    Local field config and remote object options
    <gnro-select-field [fieldConfig]="singleSelectionRemote" [value]="singleObjectState"></gnro-select-field>
    <gnro-select-field [fieldConfig]="multiSelectionRemote" [value]="multiObjectStates3"></gnro-select-field>
    <gnro-select-field [fieldConfig]="singleAutocompleteRemote" [value]="singleObjectState"></gnro-select-field>
    <gnro-select-field [fieldConfig]="multiAutocompleteRemote" [value]="multiObjectStates4"></gnro-select-field>
  </div>
  <div><br /></div>
  <div>
    Remote field config and remote object options
    <gnro-select-field [fieldConfig]="singleRemote" [value]="singleObjectState"></gnro-select-field>
    <gnro-select-field [fieldConfig]="multiRemote" [value]="multiObjectStates5"></gnro-select-field>
    <gnro-select-field [fieldConfig]="singleAutocompleteRemotes" [value]="singleObjectState"></gnro-select-field>
    <gnro-select-field [fieldConfig]="multiAutocompleteRemotes" [value]="multiObjectStates6"></gnro-select-field>
  </div>
</div>

<div class="right-panel">
  <div><br /></div>
  <div>
    Local field config and local list options (non-object)
    <gnro-select-field
      [fieldConfig]="singleSelectionList"
      [value]="singleListState"
      [options]="listStates"
    ></gnro-select-field>
    <gnro-select-field
      [fieldConfig]="multiSelectionList"
      [value]="multiListStates7"
      [options]="listStates"
    ></gnro-select-field>
    <gnro-select-field
      [fieldConfig]="singleAutocompleteList"
      [value]="singleListState"
      [options]="listStates"
    ></gnro-select-field>
    <gnro-select-field
      [fieldConfig]="multiAutocompleteList"
      [value]="multiListStates8"
      [options]="listStates"
    ></gnro-select-field>
  </div>

  <div><br /></div>

  <div>
    Local field config and remote object list options (non-object)
    <gnro-select-field [fieldConfig]="singleRemoteList" [value]="singleListState"></gnro-select-field>
    <gnro-select-field [fieldConfig]="multiRemoteList" [value]="multiListStates9"></gnro-select-field>
    <gnro-select-field [fieldConfig]="singleAutocompleteRemoteList" [value]="singleListState"></gnro-select-field>
    <gnro-select-field [fieldConfig]="multiAutocompleteRemoteList" [value]="multiListStates10"></gnro-select-field>
  </div>

  <div><br /></div>
  <div>
    Remote field config and remote list options
    <gnro-select-field [fieldConfig]="singleAllRemoteList" [value]="singleListState"></gnro-select-field>
    <gnro-select-field [fieldConfig]="multiAllRemoteList" [value]="multiListStates11"></gnro-select-field>
    <gnro-select-field [fieldConfig]="singleAllAutocompleteRemoteList" [value]="singleListState"></gnro-select-field>
    <gnro-select-field [fieldConfig]="multiAllAutocompleteRemotes" [value]="multiListStates12"></gnro-select-field>
  </div>
</div>
