<label class="gnro-radio-label" [for]="inputId()">
  <div class="gnro-radio-touch-target" (click)="onTouchTargetClick($event)"></div>
  <input
    #input
    class="cdk-visually-hidden"
    type="radio"
    [id]="inputId()"
    [checked]="checked$()"
    [disabled]="disabled$() && !disabledInteractive$()"
    [attr.name]="name$()"
    [attr.value]="value$()"
    [required]="required$()"
    (change)="onInputInteraction($event)"
  />
  <span class="gnro-radio-outer-circle"></span>
  <span class="gnro-radio-inner-circle"></span>
  <span class="gnro-radio-label-content">
    <ng-content></ng-content>
  </span>
</label>
