:host {
  display: flex;

  gnro-select-field {
    width: 150px;

    ::ng-deep .gnro-form-field-container {
      background-color: unset;
    }
  }

  .theme {
    input {
      width: 250px;
    }
  }
}
