:host {
  display: flex;
  flex: 1;

  ::ng-deep {
    gnro-layout-left,
    gnro-layout-center,
    gnro-layout-right,
    gnro-layout-top,
    gnro-layout-middle,
    gnro-layout-bottom {
      border: 1px solid darkgreen;
    }
  }
}
