:host {
  display: flex;
  position: relative;
  overflow: hidden;

  .gnro-grid-header-sticky {
    z-index: 101;
    color: orange;
  }

  .gnro-header-row-select {
    display: flex;
    align-items: center;
  }
}
