:host {
  .gnro-form-field {
    //line-height: 1.75rem; // TODO form field height variable
    position: relative;

    ::ng-deep input {
      width: 100%;
      text-overflow: ellipsis;
    }
  }

  .gnro-form-field-flex {
    display: flex;
    width: 100%;
    padding: 1px 0 1px 5px;
  }

  .gnro-form-field-wrapper {
    width: 100%;
  }

  .gnro-form-field-container:before {
    content: "";
    top: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 5px 0px;
    border-color: transparent transparent transparent transparent;
  }

  .gnro-form-field-indicator-red:before {
    border-top-color: red;
  }

  .gnro-form-field-indicator-green:before {
    border-top-color: green;
  }

  .gnro-form-field-container {
    height: 100%;
    padding-right: 5px;
    flex: 1 0 66%;
    flex-grow: 1;
    display: flex;
    min-width: 0;
    align-items: center;
  }

  /*
  .gnro-form-field-wrapper:has(input[type="hidden"]) {
    display: none;
  }*/

  .gnro-form-field-infix {
    width: 100%;
    flex: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .gnro-form-field-label {
    //line-height: 1.75rem; // TODO form field height variable
    font-size: 0.6875rem;
    font-weight: 500;
    white-space: nowrap;

    ::ng-deep gnro-label {
      white-space: nowrap;
    }
  }

  .gnro-form-field-suffix {
    display: flex;
    align-items: center;
    //height: 1.75rem; // TODO form field height variable
    font-size: 0.6875rem;

    ::ng-deep gnro-icon {
      padding-left: 5px;
      font-size: 12px;
      cursor: pointer;
    }
  }

  .gnro-form-field-required-marker {
    display: inline-flex;
    background-color: #ff4f4f;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    transform: translate(-3px, -3px);
  }

  .gnro-form-field-hint,
  .gnro-form-field-error {
    display: flex;
    flex-direction: column;
    //line-height: 1rem;
    justify-content: flex-start;

    ::ng-deep {
      gnro-icon {
        padding-right: 0.375rem;
      }

      gnro-hint {
        padding: 3px;
      }
    }
  }

  ::ng-deep gnro-hint,
  ::ng-deep gnro-error {
    font-size: 0.6875rem;
  }

  label {
    margin-right: 4px;
    margin-bottom: 0;
  }
}
