:host {
  display: flex;
  width: 100%;
  padding: 0 10px;

  &.sticky {
    position: sticky;
    z-index: 101;
  }

  ::ng-deep gnro-cell-edit-text gnro-text-field,
  ::ng-deep gnro-cell-edit-number gnro-number-field,
  ::ng-deep gnro-cell-edit-select gnro-select-field,
  ::ng-deep gnro-cell-edit-date gnro-date-field {
    width: 100%;
    ::ng-deep gnro-form-field {
      .gnro-form-field {
        padding: 0px;
      }
      .gnro-form-field-container {
        border-bottom: none;
        padding-right: 0px;
      }
      input {
        width: 100%;
      }
    }
  }
}
