@if (form()) {
  <gnro-form-field
    [formGroup]="form()"
    [gnroLabelWidth]="fieldConfig().labelWidth"
    [gnroFieldWidth]="fieldConfig().fieldWidth"
    [gnroFormFieldControl]="field"
    [gnroLineHeight]="fieldConfig().lineHeight"
    [showFieldEditIndicator]="showFieldEditIndicator()"
    [editable]="editable$()"
  >
    @if (fieldConfig().fieldLabel !== undefined) {
      <gnro-label>{{ fieldConfig().fieldLabel! | translate }}</gnro-label>
    }
    <input
      #fileInput
      gnroInput
      type="file"
      class="upload-file-input"
      [formControlName]="fieldConfig().fieldName!"
      [required]="required"
      (change)="onChange($event)"
      placeholder="{{ fieldConfig().placeholder! | translate }}"
    />
    @if (!field.disabled) {
      <gnro-icon class="folder-open" icon="folder-open" gnroSuffix (click)="fileInput.click()"></gnro-icon>
    }
    @if (fieldConfig().clearValue && hasValue) {
      <gnro-icon icon="remove" gnroSuffix (click)="clearValue()"></gnro-icon>
    }
  </gnro-form-field>
}
