@if (gridConfig().rowSelection) {
  <gnro-grid-cell
    class="gnro-grid-cell-row-select"
    [gridConfig]="gridConfig()"
    [selected]="selected()"
    [rowIndex]="rowIndex()"
    [colIndex]="-1"
    [columns]="columns()"
    [columnWidths]="columnWidths()"
  >
    <gnro-row-select [selected]="selected()"> </gnro-row-select>
  </gnro-grid-cell>
}

@for (column of columns(); track $index; let index = $index) {
  @if (!column.hidden) {
    <gnro-grid-cell
      [gridConfig]="gridConfig()"
      [selected]="selected()"
      [rowIndex]="rowIndex()"
      [colIndex]="index"
      [column]="column"
      [columns]="columns()"
      [columnWidths]="columnWidths()"
    >
      @if (!isCellEditable(column)) {
        <gnro-grid-cell-view [gridConfig]="gridConfig()" [rowIndex]="rowIndex()" [column]="column" [record]="record()">
        </gnro-grid-cell-view>
      } @else {
        <gnro-grid-cell-edit
          [gridConfig]="gridConfig()"
          [gridSetting]="gridSetting()"
          [rowIndex]="rowIndex()"
          [column]="column"
          [record]="record()"
        >
        </gnro-grid-cell-edit>
      }
    </gnro-grid-cell>
  }
}
