:host {
  display: flex;

  .gnro-grid-cell-row-select {
    justify-content: center;
  }

  .gnro-grid-cell-row-sticky {
    position: sticky;
    // background-color:initial;
    //left: 0;
    z-index: 1001;
  }
}
