:host {
  display: flex;

  .gnro-grid-cell-row-select {
    justify-content: center;
  }

  .gnro-grid-cell-row-odd-sticky,
  .gnro-grid-cell-row-even-sticky {
    position: sticky;
    z-index: 101;
  }
}
