@if (gridConfig().rowSelection) {
  <gnro-grid-cell
    class="gnro-grid-cell-row-select"
    [class.gnro-grid-cell-row-sticky]="gridConfig().columnSticky"
    [class.gnro-grid-column-last-sticky]="isLastSticky(-1)"
    [style.height]="gridConfig().rowHeight + 'px'"
    [style.flex]="'0 0 ' + selectColumnWidth"
    [style.left]="gridConfig().columnSticky ? '0px' : 'unset'"
  >
    <gnro-row-select [selected]="selected()"> </gnro-row-select>
  </gnro-grid-cell>
}

@for (column of columns(); track $index; let index = $index) {
  @if (!column.hidden) {
    <gnro-grid-cell
      [class.gnro-grid-cell-row-sticky]="gridConfig().columnSticky && (column.sticky || column.stickyEnd)"
      [class.gnro-grid-column-last-sticky]="isLastSticky(index)"
      [class.gnro-grid-column-first-sticky-end]="isFirstStickyEnd(index)"
      [style.height]="gridConfig().rowHeight + 'px'"
      [style.flex]="'0 0 ' + getColumnWidth(column)"
      [style.max-width]="getColumnWidth(column)"
      [style.left]="getStickyLeft(column, index)"
      [style.right]="getStickyRight(column, index)"
    >
      @if (!isCellEditable(column)) {
        <gnro-grid-cell-view [gridConfig]="gridConfig()" [rowIndex]="rowIndex()" [column]="column" [record]="record()">
        </gnro-grid-cell-view>
      } @else {
        <gnro-grid-cell-edit
          [gridConfig]="gridConfig()"
          [gridSetting]="gridSetting()"
          [rowIndex]="rowIndex()"
          [column]="column"
          [record]="record()"
        >
        </gnro-grid-cell-edit>
      }
    </gnro-grid-cell>
  }
}
