<div>
  <gnro-form [formConfig]="formConfig" [formFields]="fieldSet" [values]="values"></gnro-form>
  <gnro-form [formConfig]="formConfig2" [formFields]="fieldSet3" [values]="values3"></gnro-form>
</div>

<div>
  <gnro-form [formConfig]="formConfig3" [formFields]="fieldSet4" [values]="values4"></gnro-form>
</div>
<div>
  <gnro-form [formConfig]="formConfig1" [formFields]="fieldSet5" [values]="values5"></gnro-form>

  <gnro-form [formConfig]="formConfig4" [formFields]="fieldSet6" [values]="values6"></gnro-form>
</div>

<!--
<div>
  <gnro-form [formConfig]="formConfig" [formFields]="fieldSet" [values]="values"></gnro-form>
  <gnro-form [formConfig]="formConfig2" [formFields]="fieldSet3" [values]="values3"></gnro-form>
</div>

<div>
  <gnro-form [formConfig]="formConfig2" [formFields]="fieldSet4" [values]="values4"></gnro-form>
</div>
<div>
  <gnro-form [formConfig]="formConfig1" [formFields]="fieldSet5" [values]="values5"></gnro-form>

  <gnro-form [formConfig]="formConfig2" [formFields]="fieldSet6" [values]="values6"></gnro-form>
</div>

-->
