<div>
  <gnro-form [formConfig]="formConfig" [formFields]="formFields" [values]="values"></gnro-form>
  <gnro-form [formConfig]="formConfig2" [formFields]="fieldSet1" [values]="values"></gnro-form>
  <gnro-form [formFields]="fieldSet2" [values]="values"></gnro-form>
</div>

<div>
  <gnro-form [formConfig]="remoteFormFields" [values]="values"></gnro-form>
  <gnro-form [formConfig]="remoteFormFieldsAndValues"></gnro-form>
  <gnro-form [formConfig]="allRemotes"></gnro-form>
</div>

<!--
<div>
  <gnro-form [formConfig]="formConfig" [formFields]="formFields" [values]="values"></gnro-form>
  <gnro-form [formConfig]="formConfig" [formFields]="fieldSet1" [values]="values"></gnro-form>
  <gnro-form [formFields]="fieldSet2" [values]="values"></gnro-form>
</div>

<div>
  <gnro-form [formConfig]="remoteFormFields" [values]="values"></gnro-form>
  <gnro-form [formConfig]="remoteFormFieldsAndValues"></gnro-form>
  <gnro-form [formConfig]="allRemotes"></gnro-form>
</div>


<div>
  <gnro-form [formConfig]="remoteFormFields" [values]="values"></gnro-form>

</div>
-->
