<div>Test 1</div>

<gnro-form [formConfig]="formConfig" [formFields]="fieldSet" [values]="values"></gnro-form>

<!--

<div class="grow-box">
  Test 2
  <div class="container2">Inner</div>
</div>
<div>
  <gnro-display-field [fieldConfig]="displayConfig" [value]="diaplayValue"></gnro-display-field>
</div>

<div>
  <gnro-checkbox-field [fieldConfig]="checkboxConfig" [value]="checkboxValue"></gnro-checkbox-field>
</div>

<gnro-hidden-field [fieldConfig]="hiddenConfig" [value]="hiddenValue"></gnro-hidden-field>
<div>
  <gnro-number-field [fieldConfig]="numberConfig" [value]="numberValue"></gnro-number-field>
</div>

<div>
  <gnro-date-field [fieldConfig]="dateConfig" [value]="dateValue"></gnro-date-field>
</div>

<div>
  <gnro-text-field [fieldConfig]="textConfig" [value]="textValue"></gnro-text-field>
</div>

<div>
  <gnro-textarea-field [fieldConfig]="textareaConfig" [value]="textareaValue"></gnro-textarea-field>
</div>

<div>
  <gnro-select-field [fieldConfig]="multiSelectionRemote" [value]="multiObjectStates"></gnro-select-field>
</div>
-->
