<div class="grid-header-container" [style.flex]="'0 0 ' + tableWidth + 'px'">
  @if (gridConfig().groupHeader) {
    <gnro-grid-group-header
      [style.left]="columnHeaderPosition() + 'px'"
      [style.height]="gridConfig().headerHeight + 'px'"
      [gridSetting]="gridSetting()"
      [gridConfig]="gridConfig()"
      [columns]="columns()"
      [columnWidths]="columnWidths()"
      [columnHeaderPosition]="columnHeaderPosition()"
      (columnResizing)="onColumnResizing($event)"
      (columnResized)="onColumnResized($event)"
    >
    </gnro-grid-group-header>
  }

  <gnro-grid-header
    [gridSetting]="gridSetting()"
    [gridConfig]="gridConfig()"
    [columns]="columns()"
    [columnWidths]="columnWidths()"
    [columnHeaderPosition]="columnHeaderPosition()"
    [rowSelection]="rowSelection()"
    (rowSelectAll)="onRowSelectAll($event)"
    (columnResizing)="onColumnResizing($event)"
    (columnResized)="onColumnResized($event)"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="onColumnDragDrop($event)"
  >
  </gnro-grid-header>
</div>
