@if (gridConfig().rowSelection) {
  <gnro-grid-header-item
    [style.flex]="'0 0 ' + rowSelectionCellWidth + 'px'"
    [style.left]="getStickyLeft(gridConfig().columnSticky, false)"
    [gridConfig]="gridConfig()"
    [groupHeader]="true"
    column="selection"
    [colIndex]="-1"
    [columns]="columns()"
    [columnWidths]="columnWidths()"
    [columnHeaderPosition]="columnHeaderPosition()"
  ></gnro-grid-header-item>
}

@for (header of groupHeaderColumns(); track $index; let index = $index) {
  <gnro-grid-header-item
    [style.flex]="'0 0 ' + getHeaderWidth(header)"
    [style.max-width]="getHeaderWidth(header)"
    [style.left]="getHeaderStickyLeft(header, index)"
    [groupHeader]="true"
    [column]="getColumn(header)"
    [colIndex]="index"
    [columns]="columns()"
    [columnWidths]="columnWidths()"
    [columnHeaderPosition]="columnHeaderPosition()"
    [gridConfig]="gridConfig()"
    [gridSetting]="gridSetting()"
    (columnResizing)="columnResizing.emit($event)"
    (columnResized)="columnResized.emit($event)"
    gnroColumnResize
  >
    {{ header.title }}
    @if (gridConfig().columnResize) {
      <div class="gnro-grid-column-resize-action" gnroColumnResizeTrigger></div>
    }
  </gnro-grid-header-item>
}
