@if (gridConfig().rowSelection) {
  <gnro-grid-header-item
    [class.gnro-grid-header-sticky]="gridConfig().columnSticky"
    [class.gnro-grid-column-last-sticky]="isLastSticky(-1)"
    [style.flex]="'0 0 ' + rowSelectionCellWidth + 'px'"
    [style.left]="getStickyLeft(gridConfig().columnSticky, false)"
    >9999</gnro-grid-header-item
  >
}

@for (header of groupHeaderColumns(); track $index; let index = $index) {
  <gnro-grid-header-item
    [class.gnro-grid-header-sticky]="isHeaderSticky(header)"
    [class.gnro-grid-column-last-sticky]="isLastSticky(index)"
    [style.flex]="'0 0 ' + getHeaderWidth(header)"
    [style.max-width]="getHeaderWidth(header)"
    [style.left]="getHeaderStickyLeft(header, index)"
    [groupHeader]="true"
    [column]="getColumn(header)"
    [columns]="columns()"
    [gridConfig]="gridConfig()"
    [gridSetting]="gridSetting()"
    (columnResizing)="columnResizing.emit($event)"
    (columnResized)="columnResized.emit($event)"
    gnroColumnResize
  >
    {{ header.title }}XX
    @if (gridConfig().columnResize) {
      <div class="gnro-grid-column-resize-action" gnroColumnResizeTrigger></div>
    }
  </gnro-grid-header-item>
}
