@if (form()) {
  <gnro-form-field
    [formGroup]="form()"
    [style.display]="hidden ? 'none' : 'inherit'"
    [gnroLabelWidth]="fieldConfig().labelWidth"
    [gnroFieldWidth]="fieldConfig().fieldWidth"
    [gnroFormFieldControl]="field"
    [gnroLineHeight]="fieldConfig().lineHeight"
    [editable]="editable$()"
  >
    @if (fieldConfig().fieldLabel !== undefined) {
      <gnro-label>{{ fieldConfig().fieldLabel! | translate }}</gnro-label>
    }

    <gnro-radio-group [formControlName]="fieldConfig().fieldName!" [name]="fieldConfig().fieldName!">
      @for (radio of groups; track $index; let index = $index) {
        <gnro-radio [value]="radio.name" [tabIndex]="index">
          {{ radio.title }}
        </gnro-radio>
      }
    </gnro-radio-group>
  </gnro-form-field>
}
