<gnro-window [windowConfig]="windowConfig">
  <gnro-layout [resizeable]="false" style="padding: 1px">
    <gnro-layout-header
      >Header

      <button gnro-button (click)="close()">Close</button>
    </gnro-layout-header>

    <gnro-layout-horizontal [resizeable]="false">
      <gnro-layout-left> </gnro-layout-left>

      <gnro-layout-center> Horizontal Layout With header and footer panels </gnro-layout-center>

      <gnro-layout-right> </gnro-layout-right>
    </gnro-layout-horizontal>

    <gnro-layout-footer> Footer </gnro-layout-footer>
  </gnro-layout>
</gnro-window>
