@use "../../theme/src/gnro";

@mixin gnro-window-theme() {
  gnro-window {
    background-color: gnro.gnro-theme(--app-background-color);
    .gnro-dragable-window {
      border: solid 1px gnro.gnro-theme(app-border-basic-color);
    }

    .gnro-dragable-window-header {
      background-color: gnro.gnro-theme(gnro-dragable-window-header);
    }
  }
}
