:host {
  display: flex;
  width: 100%;
  position: relative;

  gnro-layout-header {
    height: 25px; //TODO height
    cursor: move;
  }

  gnro-icon {
    padding-right: 0px;
  }

  .gnro-dragable-window {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    cursor: unset;
  }
}
