<div>
  <button gnro-button (click)="newTab()">Add tab</button>
  @if (activeTab()?.editing === false) {
    <button gnro-button (click)="Edit()">Edit</button>
  }
  @if (activeTab()?.editing === true) {
    <button gnro-button (click)="View()">View</button>
  }
</div>
<gnro-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="onSelectedIndexChange($event)">
  @for (tab of tabs$(); track $index; let index = $index) {
    <gnro-tab label="{{ tab.title }}">
      <app-location-entity [tabId]="tab.id"></app-location-entity>
    </gnro-tab>
  }
</gnro-tab-group>
