:host {
  display: flex;
  //height: 1.75rem;

  label {
    display: inline-flex;
    width: 100%;
    position: relative;
    align-items: center;
    cursor: pointer;
  }

  gnro-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.75rem;
    padding-right: 0;
  }

  .gnro-checkbox-label {
    width: 100%;
  }
}
